<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="mt-3">Cart</h3>
      <div class="cart-item" *ngFor="let item of items">
        <span>Phone: {{ item.PhoneName }}</span><br>
        <span>Price: {{ item.PhonePrice }}</span><br>
        <span>Description: {{ item.Description }}</span>
        <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
          <h5 class="mt-4">Let fill your details</h5>
          <div>
            <label for="name">
              Name
            </label>
            <input id="name" type="text" class="form-control w-50" formControlName="name" required>
          </div>
          <div>
            <label for="address">
              Address
            </label>
            <textarea id="address" type="text" class="form-control w-50" formControlName="address" cols="30" rows="10" required></textarea>
          </div>
          <!-- [routerLink]="['thanks',products.Id]" -->
          <button class="button" class="btn btn-outline-primary mt-3" type="submit" [routerLink]="'/thanks'">Purchase</button>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- <h6 *ngFor="let product of products">
 
</h6> -->